<div class="regist-staff">
  <v-dialog
    v-model="registDialog"
    persistent
    width="800px">
    <v-card>
      <v-card-title class="grey darken-2">
        Regist Enployee
      </v-card-title>
      <v-container>
        <v-row class="mx-2">
          <v-col cols="6">
            <v-text-field
              v-model="staff.name"
              prepend-icon="mdi-account"
              placeholder="Name"/>
          </v-col>
          <v-col cols="6">
            <v-text-field 
              v-model="staff.nameKana"
              placeholder="Name Kana"/>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="staff.loginId"
              prepend-icon="person"
              placeholder="LoginID"/>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="staff.email"
              prepend-icon="mdi-mail"
              placeholder="Email"/>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="staff.telephoneNumber"
              type="tel"
              prepend-icon="mdi-phone"
              placeholder="000-000-0000"/>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="staff.password"
              prepend-icon="mdi-lock"
              :append-icon="visibility ? 'mdi-eye' : 'mdi-eye-off'"
              :type="visibility ? 'text' : 'password'"
              hint="At least 8 characters"
              counter
              @click:append="visibility = !visibility"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-radio-group prepend-icon="mdi-one-up" v-model="staff.role" row>
              <v-radio
                v-for="r in roles"
                :key="r.id"
                :label="r.name"
                v-bind:value="r.id"
              ></v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          @click="close"
          >Cancel</v-btn>
          <v-btn
          text
          color="primary"
          @click="onSignup"
        >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>