<div class=attendance>
  <v-card>
    <v-card-title>
      勤怠連絡
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="attendances"
      hide-default-footer
      :items-per-page="31"
      :loading="loading"
      class="elevation-1"
    >
      <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td>{{ item.day }}</td>
            <td>{{ getDate(index) }}</td>
            <td>{{ item.startTime }}</td>
            <td>{{ item.endTime }}</td>
            <td>{{ item.restTime }}</td>
            <td>{{ item.absenceTypeId }}</td>
            <td>{{ item.absenceReason }}</td>
            <td>{{ item.workingTime }}</td>
            <td>{{ item.nightTime }}</td>
            <td>{{ item.operatingExpenses }}</td>
            <td>{{ item.section }}</td>
            <td>{{ item.remarks }}</td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </v-card>
</div>