<div class=attendance>
  <v-card>
    <v-card-title>
      勤怠連絡
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="attendances"
      hide-default-footer
      items-per-page=100
      class="elevation-1">
      <template>
        <v-data-table item-key="name" class="elevation-1" loading loading-text="Loading... Please wait"></v-data-table>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="onEdit(item)">
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="onDelete(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </v-card>
</div>