.holiday {
  background-color: darkgrey !important;
}
.attendance-tbl-textfield-small {
  width: 3.2em;
}
.attendance-tbl-textfield-middle {
  width: 4.2em;
}
.attendance-tbl-textfield-large {
  width: 8em;
}